.second_screen {
  height: 678px;
  background-image: url("../images/red_line.svg");
}

.font_contains_group,
.font_supports_group {
  width: 414px;
  height: 380px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.font_contains_group {
  left: 180px;
  top: 110px;
}

.font_supports_group {
  left: 800px;
  top: -130px;
}

.font_group_pin {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #34b1b9;
  position: relative;
  top: -15px;
  left: 180px;
}
