.usecases {
  line-height: 32px;
  font-weight: 400;
  font-size: 28px;
  color: white;
  width: 410px;
  height: 420px;
  margin-left: 81px;
  margin-top: 40px;
}

.sixth_screen,
.usecases_crime_list,
.crime_list {
  display: flex;
}

.sixth_screen {
  flex-direction: column;
}

.crime_list {
  flex-direction: column;
  margin-top: 90px;
  margin-left: 330px;
  background-color: #e8e8e8;
  width: 460px;
  height: 606px;
  transform: rotate(-5.45deg);
}

.crime_list_photo,
.crime_list_label,
.crime_list_txt,
.crime_list_pin {
  margin: 0 auto;
}

.crime_list_photo,
.crime_list_label {
  width: 366px;
}

.crime_list_pin {
  width: 34px;
  height: 34px;
  background-color: #e8b466;
  border-radius: 50%;
  margin-top: -15px;
}

.crime_list_txt {
  margin-top: 40px;
  font-size: 56px;
  font-weight: 700;
  line-height: 54px;
  width: min-content;
}

.crime_list_photo {
  display: flex;
  margin-top: 40px;
  height: 280px;
  background-color: #30959b;
}

.crime_list_label {
  margin-top: 20px;
  background-color: #3b6f72;
  height: 38px;
}

.table_group {
  background-image: url("../images/table_group.svg");
  background-repeat: no-repeat;
  height: 1100px;
}

.table_group_menu,
#book1,
#book2,
#book3,
#book4,
.table_group_cup,
.table_group_knife {
  position: relative;
}

.table_group_menu {
  font-size: 76px;
  font-weight: 500;
  top: 340px;
  left: 225px;
}

.table_group_books {
  display: flex;
  justify-content: space-between;
}

#book1 {
  width: 380px;
  top: 377px;
  left: 720px;
}

#book2 {
  width: 460px;
  top: 440px;
  left: 640px;
}

#book3 {
  width: 380px;
  top: 502px;
  left: 720px;
}

#book4 {
  width: 380px;
  top: 572px;
  left: 720px;
}

.table_group_cup {
  top: 150px;
  left: 940px;
}

.table_group_knife {
  font-size: 27px;
  font-weight: 500;
  top: 70px;
  left: 80px;
  transform: rotate(-1.986deg);
  color: #1d4446;
}
